@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.navbarbutton {
  @apply px-5 py-2 border border-[#242424] rounded-full uppercase text-base
  tracking-wider text-gray-300 transition-all hover:border-orange-400 hover:text-orange-400
}

.neon-text {
  color: #063474;
  text-shadow: 0 0 1px #ffffff, 0 0 3px #04234f, 0 0 8px #323335, 0 0 12px #17054f;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(249, 115, 22); 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #4b58d3;
}


