@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.navbarbutton {
  @apply w-screen px-2 py-4 border-2 border-[#242424] rounded-md bg-blue-700 uppercase text-lg font-bold
  tracking-wider text-gray-300 transition-all 

  sm:px-4 sm:py-2 sm:text-[20px] sm:font-semibold sm:rounded-full sm:w-auto sm:bg-transparent 
  sm:hover:border-orange-500 sm:hover:text-orange-500
}

.projectbutton {
  @apply px-2 border-2 border-x-4 font-bold border-blue-700 bg-[#323131] rounded-md 
  tracking-wider text-gray-300 transition-all  hover:bg-blue-700
}

.neon-text {
  color: #ced6e1;
  text-shadow: 0 0 1px #699fd2, 0 0 3px #3123cc, 0 0 8px #5d729f, 0 0 12px #96d8d8;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #06127a;
}

::-webkit-scrollbar-thumb {
  background: rgb(249, 115, 22); 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b6ca;
}

.custom-shadow {
  box-shadow: 0 10px 25px -5px rgb(65, 73, 231), 0 20px 50px -10px rgba(234, 234, 242, 0.1);
}


